<section>
  <div class="w-full lg:w-[80%] mx-auto h-full grid grid-cols-2">
    <div
      class="relative w-full pt-[120%] bg-[url('https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/procedimientos/fc2dymsq4i1pt5x24ltt')] bg-cover bg-center bg-no-repeat"
    >
      <div
        class="absolute w-full h-full top-0 left-0 bg-black bg-opacity-60 flex flex-col justify-around"
      >
        <div class="mx-6 mt-2">
          <img
            class="w-full"
            src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/procedimientos/zhvqlbcd0shubeypjvke"
            alt=""
          />
        </div>
        <p class="text-white font-inter font-medium text-[3vw] lg:text-[2.2vw] mx-3 mb-2">
          Recibe nuestros tips sin costo para que elijas el elixir adecuado para
          tus bebés.
        </p>
      </div>
    </div>
    <div
      class="relative w-full pt-[120%] bg-[url('https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/procedimientos/zo437opk8ergxptqrcuw')] bg-cover bg-center bg-no-repeat"
    >
      <div
        class="absolute w-full h-full top-0 left-0 bg-black bg-opacity-60 flex flex-col justify-around"
      >
        <div class="mx-6 mt-2">
          <img
            class="w-full"
            src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/procedimientos/sxy4sejvbi3pyixeu1mj"
            alt=""
          />
        </div>
        <p class="text-white font-inter font-medium text-[3vw] lg:text-[2.2vw] mx-2 mb-2">
          Después de elegir el elixir de la resurrección, podrás traer tus
          sneakers o enviarnos tus datos para recogerlas
        </p>
      </div>
    </div>
    <div
      class="relative w-full pt-[120%] bg-[url('https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/procedimientos/polyj4tsp7isttxrbrsi')] bg-cover bg-center bg-no-repeat"
    >
      <div
        class="absolute w-full h-full top-0 left-0 bg-black bg-opacity-60 flex flex-col justify-around"
      >
        <div class="mx-6 mt-2">
          <img
            class="w-full"
            src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/procedimientos/nncode2dld9gkzib1exq"
            alt=""
          />
        </div>
        <p class="text-white font-inter font-medium text-[3vw] lg:text-[2.2vw] mx-2 mb-2 sm:mt-0">
          Cuando tus sneakers lleguen a nosotros pasará a la sala de operaciones
          para devolverles la vida con los mejores materiales.
        </p>
      </div>
    </div>
    <div
      class="relative w-full pt-[120%] bg-[url('https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/procedimientos/uguhb1h17obyazshblwt')] bg-cover bg-center bg-no-repeat"
    >
      <div
        class="absolute w-full h-full top-0 left-0 bg-black bg-opacity-60 flex flex-col justify-around"
      >
        <div class="mx-6 mt-2">
          <img
            class="w-full"
            src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/procedimientos/oji8wdqzeb7ql19ticbd"
            alt=""
          />
        </div>
        <p class="text-white font-inter font-medium text-[3vw] lg:text-[2.2vw] mx-2 mb-2">
          Cuando tu sneaker despierte estará en tus brazos ya que realizamos
          entrega con delivery.
        </p>
      </div>
    </div>
  </div>
</section>