---
import Icon from "astro-icon";
---

<section>
  <div id="inicio"
    class="flex flex-col-reverse sm:flex-row w-full sm:w-[80%] mx-auto items-center mb-[8vw] sm:mb-[4vw]"
  >
    <div class="hidden sm:flex flex-col items-center">
      <p
        class="text-white text-[5vw] whitespace-nowrap leading-none font-bebas z-10 text-center mb-[5vw]"
      >
        SERVICIO DE LIMPIEZA Y<br />MANTENIMIENTO GENERAL
      </p>
      <div class="flex justify-center mt-4">
        <a
        href="https://wa.me/595971150445"
        class="py-[2vw] px-[7vw] sm:py-[1vw] sm:px-[1.5vw] text-center border rounded-lg sm:rounded-none border-white flex items-center text-white font-inter font-black text-[4vw] sm:text-[2.2vw]"
        >Solicita tu revisión
        <Icon
          name="tabler:chevron-right"
          class="w-[4vw] sm:w-[2vw] ml-[0.5vw] bg-black rounded-full text-white"
        />
      </a>
      </div>
    </div>
    <div class="sm:max-w-[50%] mx-auto">
      <img
        class="w-full h-auto"
        src="https://res.cloudinary.com/de5c9p8wb/image/upload/f_webp,fl_awebp,q_auto/v1696949617/estedebeser_xn3aad"
        alt="Imagen"
      />
      <div class="flex flex-col items-center sm:hidden">
        <p
          class="text-white text-[9vw] sm:text-[5vw] whitespace-nowrap leading-none font-bebas z-10 text-center sm:mb-[5vw]"
        >
          SERVICIO DE LIMPIEZA Y<br />MANTENIMIENTO GENERAL
        </p>
        <div class="flex justify-center mt-4">
            <a
              href="https://wa.me/595971150445"
              class="py-[2vw] px-[7vw] sm:py-[1vw] sm:px-[1.5vw] text-center border rounded-lg sm:rounded-none border-white flex items-center text-white font-inter font-black text-[4vw] sm:text-[2.2vw]"
              >Solicita tu revisión
              <Icon
                name="tabler:chevron-right"
                class="w-[4vw] sm:w-[2vw] ml-[0.5vw] bg-black rounded-full text-white"
              />
            </a>
        </div>
      </div>
      <div
        class="flex font-inter font-black text-[6vw] sm:text-[2.5vw] justify-center space-x-[5vw] sm:space-x-[2.5vw] leading-tight sm:leading-none mt-[4vw] sm:mt-0"
      >
        
      </div>
    </div>
  </div>
</section>
