---
import Template from "./base/Template.astro";
---

<Template>
  <div
    class="pr-10 pl-10 bg-black text-white flex flex-col justify-center items-center pt-14 pb-14"
  >
    <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-bold mb-4">
      QUIÉNES SOMOS?
    </h1>
    <p class="text-base sm:text-lg md:text-xl lg:text-2xl text-left">
      Somos una empresa apasionada por el calzado y dedicada al lavado y
      restauración de zapatos. Desde nuestro inicio hace 5 años, hemos estado
      comprometidos con la misión de dar nueva vida a tus calzados favoritos y
      mantenerlos en su mejor estado, para que puedas disfrutar de ellos por
      mucho tiempo. Nuestro equipo está formado por expertos en cuidado del
      calzado y amantes de la moda, que comprenden la importancia que los
      zapatos tienen el estilo y la comodidad de cada persona. Nos
      enorgullecemos de ofrecer servicios de lavado y restauración de alta
      calidad, utilizando técnicas y productos especializados para garantizar
      resultados excepcionales.
    </p>
  </div>
  <div>
    <img
      class="h-auto w-full rounded-lg"
      src="https://res.cloudinary.com/dkljgkuyy/image/upload/v1692174410/Frame_52984741_1_wabqu9.png"
      alt=""
    />
  </div>
</Template>
