---
import Template from "./base/Template.astro";
---

<Template>
  <div id="nosotros"
  class="relative bg-[url('https://res.cloudinary.com/de5c9p8wb/image/upload/f_webp,fl_awebp,q_auto/v1696890688/BGABOUT_s3gmlg')] bg-center w-full text-white flex flex-col justify-center items-center"
  style="background-size: cover;"
>
<h1 class="text-2xl sm:text-5xl md:text-6xl lg:text-7xl font-bold mt-1 sm:mt-10">
  ¿QUIÉNES SOMOS?
</h1>
<p class="text-xs sm:text-xs md:text-xl lg:text-3xl p-5 w-full text-justify">
  Somos APFG S.A., una empresa con más de 7 años de experiencia en diversos rubros, destacándonos en los servicios de Limpieza y Mantenimiento y Reparaciones en General de Obras Civiles. Nos enorgullece ofrecer atención de calidad respaldada por un equipo altamente capacitado y tecnología de vanguardia. Nuestra empresa está comprometida con la conservación de los recursos naturales y el planeta, y nuestro personal altamente calificado garantiza la protección de los bienes de nuestros clientes de manera confiable. Contamos con una infraestructura adecuada y un equipo de profesionales para satisfacer las necesidades de nuestros clientes y mantener la constante calidad en nuestros servicios.
</p>
  </div>
</Template>