<section class="m-auto relative">
  <div class="flex">
    <div class="w-full">
      <div class="absolute top-0 left-0  w-[50%] h-[100%] bg-black opacity-30"></div>
      <img src="https://res.cloudinary.com/de5c9p8wb/image/upload/v1692649434/esst_x7l9s8.jpg" alt="" class="w-full h-auto">
    
    </div>
    <div class="flex items-center justify-end w-full px-18 lg:px-32 text-center font-antonio text-white">
      <h1 class="text-[1em] hidden lg:block lg:text-[2em] md:text-[1.5em] 2xl:text-[4em]">LA SATISFACCIÓN DEL CLIENTE ES NUESTRA MÁXIMA PRIORIDAD.</h1>
      <h1 class="text-[1.5em] lg:hidden lg:text-[3em] md:text-[2em] 2xl:text-[5em]">NOS INTERESA EL BIENESTAR DE TUS ZAPATOS.</h1>
    </div>
  </div>
</section>
