<section>
  <div
    class="relative w-full pt-[33%] bg-[url('https://res.cloudinary.com/de5c9p8wb/image/upload/f_auto,q_auto/IMG_0832_1_ytaznz')] bg-cover bg-center"
  >
    <div
      class="absolute top-0 left-0 w-full h-full flex items-center justify-center"
    >
      <div
        class="bg-black bg-opacity-50 w-[100%] h-[100%] flex flex-col items-center justify-evenly"
      >
      <p
      class="ml-2 -mr-5 lg:ml-20 lg:-mr-20 text-[45px] sm:text-[80px] lg:text-[100px] xl:text-[140px]  2xl:text-[180px] text-white whitespace-nowrap leading-tight font-bebas z-10"
    >
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NUESTRA<br />&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;GALERÍA
    </p>
      </div>
    </div>
  </div>
</section>