---
import { Icon } from "astro-icon";
---

<div id="contacto" class="w-full px-7 mx-auto text-tahiti pt-10 text-justify bg-[#121212]">
  <div class="grid gap-x-10 lg:grid-cols-2 p-7">
    <div class="lg:mb-0 mb-10">
      <img
        class="w-15 h-15"
        src="https://res.cloudinary.com/de5c9p8wb/image/upload/f_auto,q_auto/logoapnfgTEST_a033ys"
        alt=""
      />
      <p class="mt-3 mb-4 text-white">
        Nos esforzamos por superar tus expectativas en cada servicio
        que brindamos. <br> Entendemos que cada lugar tiene su propia
        historia, y tratamos cada pieza con <br> el respeto y cuidado que se merece.
        
      </p>
    </div>
    <div class="grid grid-cols-1 mx-auto">
      <div class="text-white">
        <h1 class="mb-3 font-bold text-3xl">Contacto</h1>
        <p class="flex gap-4 mb-3">
          Oficinas: Mayor Martínez casi Felipe Toledo, MRA
        </p>
        <p class="flex gap-4 mb-3">Mariano Roque Alonso, Dpto. Central</p>
        <p class="flex gap-4 mb-3">Telefono: +595971150445</p>
        <p class="flex gap-4 mb-3">E-mail: apfg@apfg.com.py</p>
      </div>
      <div class="mt-7 lg:mt-0 w-max p-2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3609.806723502308!2d-57.5209770246177!3d-25.209739677702817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjXCsDEyJzM1LjEiUyA1N8KwMzEnMDYuMyJX!5e0!3m2!1ses!2spy!4v1698690837798!5m2!1ses!2spy" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
  <div class="text-white">
    <hr class="text-[#eeeef6] border-[1px]" />
    <p class="text-center p-10">
      Copyright © <span id="year">2020</span>
      All Right Reseved
    </p>
  </div>
</div>

<script>
  const year = document.getElementById("year");
  if(year) year.textContent = new Date().getFullYear().toString();
</script>