<section>
  <div class="grid grid-cols-2 lg:grid-cols-3 gap-2 sm:gap-5 w-[87%] m-auto">
    <div class="row-span-2 col-span-2">
      <img
        class="w-full h-full object-cover"
        src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/gallery/me9xyzsfkkg5l2ravzjt"
        alt=""
      />
    </div>
    <div>
      <img
        class="w-full h-full object-cover"
        src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/gallery/loc5qibfnatmqekigfiu"
        alt=""
      />
    </div>
    <div>
      <img
        class="w-full h-full object-cover"
        src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/gallery/svhlz8e4asfavz7cyfvw"
        alt=""
      />
    </div>
    <div>
      <img
        class="w-full h-full object-cover"
        src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/gallery/loc5qibfnatmqekigfiu"
        alt=""
      />
    </div>
    <div>
      <img
        class="w-full h-full object-cover"
        src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/gallery/nmhyqtzjlqqwm51e6pmy"
        alt=""
      />
    </div>
    <div>
      <img
        class="w-full h-full object-cover"
        src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/gallery/ymalhekww3eithjtw3hd"
        alt=""
      />
    </div>
    <div>
      <img
        class="w-full h-full object-cover"
        src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/gallery/yyga49habcb4kkzkuhnk"
        alt=""
      />
    </div>
    <div>
      <img
        class="w-full h-full object-cover"
        src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/gallery/pl4zluhxa42akbcmgua1"
        alt=""
      />
    </div>
    <div>
      <img
        class="w-full h-full object-cover"
        src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/gallery/wjzy5dwmnv0mmudeqwjs"
        alt=""
      />
    </div>
    <div>
      <img
        class="w-full h-full object-cover"
        src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/gallery/do3pdjcw31iivtmmqako"
        alt=""
      />
    </div>
    <div>
      <img
        class="w-full h-full object-cover"
        src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/gallery/hjaiogj4bhdn1yyojvb3"
        alt=""
      />
    </div>
    <div>
      <img
        class="w-full h-full object-cover"
        src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/gallery/wju9mxxpix8cmces2cit"
        alt=""
      />
    </div>
    <div>
      <img
        class="w-full h-full object-cover"
        src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/gallery/pb8zo2zzvguyqn4u045l"
        alt=""
      />
    </div>
    <div>
      <img
        class="w-full h-full object-cover"
        src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/gallery/k6q61g2opnbglakev5ro"
        alt=""
      />
    </div>
    <div>
      <img
        class="w-full h-full object-cover"
        src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/gallery/srvsj9kkocq3gd6qd4lf"
        alt=""
      />
    </div>
  </div>
</section>
