---
import Icon from "astro-icon";
---

<section>
  <div class="flex">
    <div class="hidden sm:block sm:w-[34%]">
      <img
        src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/prices/eopddyf6laq1bb5pryhb"
        alt="franja"
      />
    </div>
    <div class="flex flex-col w-full sm:w-[66%] p-[3.8vw]">
      <div class="flex flex-col">
        <div class="w-[34%] mx-auto">
          <img src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/prices/hdlfg1iqznmxvsb8fdr2" alt="logo" />
          <p
            class="text-white text-[3vw] sm:text-[2vw] text-center bg-black mt-[1vw]"
          >
            LISTA DE PRECIOS
          </p>
        </div>
        <div class="w-full flex justify-end -mt-[6%]">
          <div class="w-[53%] flex justify-between items-end">
            <div class="w-[30%]">
              <img src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/prices/g20jdtpypwx4pt0k1jzl" alt="zapatilla" />
            </div>
            <div class="w-[30%]">
              <img src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/prices/kat9zspastlw1qwc1rkm" alt="bota" />
            </div>
            <div class="w-[30%]">
              <img src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/astro-rescue/prices/tbajwagglbkolv5fcvcs" alt="bota-larga" />
            </div>
          </div>
        </div>
      </div>
      <hr class="bg-secondary h-[1vw] w-full border-t-0 my-[1.5vw]" />
      <div>
        <p
          class="text-secondary font-antonio text-[5.5vw] sm:text-[3.2vw] mb-[2vw]"
        >
          Área de Lavado
        </p>
        <div class="grid grid-cols-[49%_17%_17%_17%] text-white gap-y-[2vw]">
          <div class="font-bebas">
            <span
              class="text-[4.5vw] sm:text-[1.9vw] overflow-hidden whitespace-nowrap"
            >
              LAVADO PREMIUM
              .......................................................
            </span>
            <p
              class="text-secondary text-[2.7vw] sm:text-[1.3vw] font-inter -mt-[1.2vw] sm:-mt-[0.6vw]"
            >
              Exterior, interior, pasadores, suela completa y deodorización.
            </p>
          </div>
          <div class="text-center bg-black">
            <span class="font-inter font-medium text-[3.2vw] sm:text-[1.7vw]"
              >S/28</span
            >
          </div>
          <div class="text-center bg-black">
            <span class="font-inter font-medium text-[3.2vw] sm:text-[1.7vw]"
              >S/32</span
            >
          </div>
          <div class="text-center bg-black">
            <span class="font-inter font-medium text-[3.2vw] sm:text-[1.7vw]"
              >S/37</span
            >
          </div>
          <div class="font-bebas">
            <span
              class="text-[4.5vw] sm:text-[1.9vw] overflow-hidden whitespace-nowrap"
              >LAVADO CLÁSICO
              ...........................................................</span
            >
            <p
              class="text-secondary text-[2.7vw] sm:text-[1.3vw] font-inter -mt-[1.2vw] sm:-mt-[0.6vw]"
            >
              Exterior y pasadores.
            </p>
          </div>
          <div class="text-center bg-black">
            <span class="font-inter font-medium text-[3.2vw] sm:text-[1.7vw]"
              >S/23</span
            >
          </div>
          <div class="text-center bg-black">
            <span class="font-inter font-medium text-[3.2vw] sm:text-[1.7vw]"
              >S/30</span
            >
          </div>
          <div class="text-center bg-black">
            <span class="font-inter font-medium text-[3.2vw] sm:text-[1.7vw]"
              >S/35</span
            >
          </div>
          <div class="font-bebas">
            <span
              class="text-[4.5vw] sm:text-[1.9vw] overflow-hidden whitespace-nowrap"
              >LAVADO PREMIUM KIDS ...........................................</span
            >
            <p
              class="text-secondary text-[2.7vw] sm:text-[1.3vw] font-inter -mt-[1.2vw] sm:-mt-[0.6vw]"
            >
              Hasta talla 26.
            </p>
          </div>
          <div class="text-center bg-black">
            <span class="font-inter font-medium text-[3.2vw] sm:text-[1.7vw]"
              >S/18</span
            >
          </div>
          <div class="text-center bg-black">
            <span class="font-inter font-medium text-[3.2vw] sm:text-[1.7vw]"
              >S/18</span
            >
          </div>
          <div class="text-center bg-black">
            <span class="font-inter font-medium text-[3.2vw] sm:text-[1.7vw]"
              >S/20</span
            >
          </div>
        </div>
      </div>
      <hr class="bg-secondary h-[1vw] w-full border-t-0 my-[1.5vw]" />
      <div>
        <p
          class="text-secondary font-antonio text-[5.5vw] sm:text-[3.2vw] mb-[2vw]"
        >
          Área de Repaint
        </p>
        <div class="grid grid-cols-[49%_17%_17%_17%] text-white gap-y-[2vw]">
          <div class="font-bebas">
            <span
              class="text-[4.5vw] sm:text-[1.9vw] overflow-hidden whitespace-nowrap"
              >Repaint
              ..................................................................</span
            >
            <p
              class="text-secondary text-[2.7vw] sm:text-[1.3vw] font-inter -mt-[1.2vw] sm:-mt-[0.6vw]"
            >
              Un solo color.
            </p>
          </div>
          <div class="text-center bg-black"></div>
          <div class="text-center bg-black">
            <span class="font-inter font-medium text-[3.2vw] sm:text-[1.7vw]"
              >S/27</span
            >
          </div>
          <div class="text-center bg-black">
            <span class="font-inter font-medium text-[3.2vw] sm:text-[1.7vw]"
              >S/32</span
            >
          </div>
          <div class="font-bebas">
            <span
              class="text-[4.5vw] sm:text-[1.9vw] overflow-hidden whitespace-nowrap"
              >MID SOLE REPAINT
              ....................................................</span
            >
            <p
              class="text-secondary text-[2.7vw] sm:text-[1.3vw] font-inter -mt-[1.2vw] sm:-mt-[0.6vw]"
            >
              Pintado de media suela.
            </p>
          </div>
          <div class="text-center bg-black"></div>
          <div class="text-center bg-black">
            <span class="font-inter font-medium text-[3.2vw] sm:text-[1.7vw]"
              >S/22</span
            >
          </div>
          <div class="text-center bg-black">
            <span class="font-inter font-medium text-[3.2vw] sm:text-[1.7vw]"
              >S/22</span
            >
          </div>
          <div class="font-bebas">
            <span
              class="text-[4.5vw] sm:text-[1.9vw] overflow-hidden whitespace-nowrap"
              >MID SOLE UV
              ...............................................................</span
            >
            <p
              class="text-secondary text-[2.7vw] sm:text-[1.3vw] font-inter -mt-[1.2vw] sm:-mt-[0.6vw]"
            >
              Blanqueamiento de media suela.
            </p>
          </div>
          <div class="text-center bg-black"></div>
          <div class="text-center bg-black">
            <span class="font-inter font-medium text-[3.2vw] sm:text-[1.7vw]"
              >S/22</span
            >
          </div>
          <div class="text-center bg-black">
            <span class="font-inter font-medium text-[3.2vw] sm:text-[1.7vw]"
              >S/22</span
            >
          </div>
        </div>
      </div>
      <hr class="bg-secondary h-[1vw] w-full border-t-0 my-[1.5vw]" />
      <div>
        <div class="mb-[2vw]">
          <p class="text-secondary font-antonio text-[5.5vw] sm:text-[3.2vw]">
            Área de Restauración
            <Icon class="w-6 sm:w-8 lg:w-10 xl:w-14 2xl:w-20 inline-block" name="tabler:search" />
          </p>
          <p
            class="text-secondary text-[2.7vw] sm:text-[1.3vw] font-inter -mt-[1.2vw] sm:-mt-[0.6vw]"
          >
            Previa evaluación
          </p>
        </div>
        <div
          class="text-white leading-tight font-bebas text-[4.5vw] sm:text-[1.9vw]"
        >
          <p>CAMBIO DE SUELA</p>
          <p>CAMBIO DE HUELLA</p>
          <p>
            CAMBIO DE FORRO INTERIOR
            <span class="text-secondary font-inter text-[2.7vw] sm:text-[1.3vw]"
              >(Malla o cuero)</span
            >
          </p>
          <p>
            RECONSTRUCCIÓN DE TALÓN
            <span class="text-secondary font-inter text-[2.7vw] sm:text-[1.3vw]"
              >(Arreglo de cuero y cambio de forro)</span
            >
          </p>
          <p>PEGADO DE SUELA</p>
          <p>PEGADO Y COSID0 DE SUELA</p>
          <p>CAPELLADO DE PUNTA</p>
          <p>PARCHE INTERIOR Y COSIDO</p>
          <p>PASADORES Y PLANTILLAS</p>
        </div>
      </div>
    </div>
  </div>
</section>
